@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    width: 100vw;
    font-size: 14px;
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

nav a{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

nav a:nth-child(1), nav a:nth-child(2){
    margin-right: 4rem;
}

nav a:hover{
    text-decoration: underline;
    font-weight: 700;
}

.img{
    margin-bottom: 0;
}

.intro, header{
    font-family: 'Raleway', sans-serif;
    background-color: hsl(217, 28%, 15%);
}

.intro{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1px;
    padding-bottom: 12.5rem;
    margin-bottom: -9.5rem;
}

.intro-img, .intro-content{
    width: 100vw;
    padding: 0 28.5%;
}

.intro-content{
    margin-bottom: -5rem;
    z-index: 1;
}

.intro-content h1{
    word-spacing: .4rem;
    line-height: 1.5;
}

.img-intro{
    width: 100%;
}

.intro-content p{
    padding: 5% 12.5%;
}

.intro-btn{
    width: 40%;
    height: 3rem;
    border: none;
    border-radius: 5rem;
    background-color: hsl(198, 50%, 52%);
    color: #fff;
    word-spacing: .2rem;
    cursor: pointer;
    transition: .2s;
    font-weight: 700;
}

.intro-btn:hover{
    background-color: hsl(176, 68%, 64%);
}

picture{
    width: 100vw;
}

.on{
    position: relative;
    top: -10.5rem;
    width: 100%;
    height: 20rem;
    margin-bottom: -11rem;
}

main{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: hsl(218, 28%, 13%);
}

#Features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    place-items: center;
    width: 60%;
    column-gap: 6.5rem;
    row-gap: 5rem;
}

#Features div{
    width: 100%;
}

#Features h2, img {
    margin-bottom: 1rem;
}

.brief{
    margin-top: 5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.brief div{
    width: 50%;
}

.productive{
    width: 100%;
}

.brief-content{
    padding: 0 4rem;
}

.brief-content h1{
    padding-right: 28.5%;
    margin-bottom: 1.5rem;
}

.brief-content img{
    position: relative;
    top: 1.2rem;
    text-decoration: underline;
}

.brief-content a{
    text-decoration: none;
    color: hsl(198, 60%, 50%);
}

.link{
    width: 9rem;
}

hr{
    width: 8.3rem;
    border-color:  hsl(198, 60%, 50%);
}

#testimonial{
    background-image: url(./images/bg-quotes.png);
    background-position: 6rem 2.5rem;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: hsl(218, 28%, 13%);
    margin-top: -2px;
}

.test{
    border-radius: .5rem;
    background-color: hsl(219, 30%, 18%);
    padding: 2rem 1.5rem 1rem;
    width: 100%;
    cursor: pointer;
    transition: .5s;
}

.test:hover{
    scale: 1.1;
}

.team{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: auto;
}

.team span{
    font-size: 11px;
}

.team img{
    width: 15%;
    border-radius: 50%;
    margin-bottom: 0;
}

.cta{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    background-color: hsl(217, 28%, 15%);
    width: 60%;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    top: 8rem;
    padding: 1.5rem 2rem .5rem;
    box-shadow: .2rem 0.2rem 0.2rem 0.5px hsl(218, 65%, 3%);
}

.cta h1, .cta p, form{
    margin-bottom: 1.5rem;
}

.cta p{
    padding: 0 6.5rem;
    font-weight: 400;
    line-height: 1.5;
}

form{
    width: 100%;
}

#email{
    width: 60%;
    margin-right: 2rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    height: 3.5rem;
    outline: none;
}

form>button{
    width: 30%;
    border-radius: 5rem;
    padding: 1rem;
    border: none;
    height: 3.5rem;
    color: #fff;
    background-color: hsl(198, 50%, 52%);
    cursor: pointer;
    transition: .5s;
}

form>button:hover{
    background-color: hsl(176, 68%, 64%);
}

.error{
    color: red;
    text-align: start;
    position: relative;
    right: 4rem;
    margin-top: .5rem;
    opacity: 0;
    pointer-events: none;
}

footer{
    width: 100%;
    background-color: hsl(216, 53%, 9%);
    padding: 0 4rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 30% 20% 17.5% 17.5% 15%;
    row-gap: 1.75rem;
}

footer a{
    text-decoration: none;
    color: #fff;
    transition: .2s;
}

footer a:hover{
    font-weight: 700;
}

.footlogo{
    margin-top: 3rem;
    grid-row: 1/2;
    grid-column: 1/2;
}

.footlogo img{
    width: 45%;
}

.address{
    padding-right: 2.5rem;
    line-height: 1.5;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    display: flex;
    grid-column: 1/2;
}

.contact{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
}

.contact div{
    display: flex;
    gap: 1.5rem;
}

.links1{
    grid-column: 3/4;
}

.links1 a, .links2 a{
    margin-bottom: 1rem;
    display: block;
}

/* .links1 a:nth-child(1), .links2 a:nth-child(1){
    margin-bottom: 0;
} */

.links2{
    grid-column: 4/5;
}

.socials{
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    grid-column: 5/6;
}

.socials a{
    display: flex;
    border-radius: 50%;
    border-width: 0.1rem;
    border-style: solid;
    padding: .5rem;
    transition: .5s;
    margin-right: 0.5rem;
}

.socials a:hover{
    text-decoration: none;
    color: hsl(176, 68%, 64%);
}

.address,.contact,.links1, .links2, .socials{
    grid-row: 2/3;
}

.copyright{
    text-align: center;
    grid-column: 1/6;
    grid-row: 3/4;
}


@media(max-width:820px){

    .intro-content,.intro-img{
        padding: 0 15%;
    }

    .intro-btn{
        width: 80%;
    }

    #Features{
        width: 80%;
    }

    .brief{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .brief div{
        width: 80%;
    }

    .link{
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    hr{
        margin: auto;
    }

    .brief-content{
        text-align: center;
    }

    .brief-content h1{
        padding-right: 0;
    }

    #testimonial{
        flex-direction: column;
        background-position: 5rem 1rem;
    }

    .test{
        width: 90%;
    }

    .team img{
        width: 7.5%;
    }

    .cta {
        top: 12rem;;
    }

    .cta p{
        padding: 0;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #email{
        margin: 0;
    }

    .btn{
        position: relative;
        top: 2.5rem;
    }

    #email, .btn{
        width: 100%;
    }

    footer{
        padding: 0 2rem;
        padding-top: 10rem;
        padding-bottom: 3rem;
        grid-template-columns: 40% 25% 25% 10%;
        row-gap: 1.75rem;
    }

    .contact{
        grid-column: 1/2;
        position: relative;
        top: 8rem;
        margin-bottom: 6rem;
    }

    .address{
        margin-bottom: 2rem;
    }

    .links1{
        grid-column: 2/3;
    }

    .links2{
        grid-column: 3/4;
    }

    .socials{
        grid-column: 4/5;
    }

    .intro-content p{
        padding: 5% 10%;
    }
}



@media(max-width:425px){

    header{
        display: flex;
        padding: 2rem;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .logo{
        width: 50%;
    }

    .img{
        margin-bottom: 0;
        width: 50%;
    }
    
    nav a:nth-child(1), nav a:nth-child(2){
        margin-right: 1rem;
    }

    .intro{
        padding-bottom: 12.5rem;
        margin-bottom: -14.5rem;
    }

    .on{
        height: auto;
    }
    
    .intro-img, .intro-content{
        z-index: 1;
        width: 100vw;
        padding: 0 5%;
    }
    
    .img-intro{
        width: 100%;
    }
    
    .intro-content p{
        padding: 5% 10%;
    }

    #Features{
        grid-template-columns: 1fr;
        width: 90%;
        margin-top: 10rem;
        row-gap: 5rem;
    }

    .brief-content{
        text-align: left;
        padding: 0;
    }
    
    .brief-content h1{
        font-size: 20px;
        padding-right: 0;
    }

    .link{
        text-align: left;
    }

    hr{
        margin: unset;
    }

    #testimonial{
        position: relative;
        top: 4rem;
        background-position: 2rem .2rem;
    }
    
    .cta{
        width: 90%;
    }

    .btn{
        top: 2rem;
    }
    
    .cta p{
        padding: 0;
    }

    footer{
        grid-template-columns: 1fr;
        grid-row: repeat(7, 1fr);
    }

    .contact{
        grid-row: 3/4;
        top: 0;
        margin-bottom: 0;
    }

    .address{
        grid-row: 2/3;
    }

    .links1{
        grid-row: 4/5;
    }

    .links2{
        grid-row: 5/6;
    }

    .socials{
        grid-row: 6/7;
    }

    .copyright{
        grid-row: 7/8;
    }



    .footlogo, .contact, .address,.links1,.links2, .socials, .copyright{
        grid-column: 1/2;
    }
}

@media(max-width:375px){

    header{
        justify-content: center;
    }

    .intro-content h1{
        word-spacing: 0;
    }

    picture{
        position: relative;
        top: -4.5rem;
    }

    main{
        margin-top: -4.3rem;
    }

    nav{
        width: 60%;
    }

    nav a:nth-child(1), nav a:nth-child(2){
        margin-right: 1.3rem;
    }

    #Features{
        margin-top: 20rem;
    }
}

@media(max-width:320px){

    nav a:nth-child(1), nav a:nth-child(2){
        margin-right: .4rem;
    }

    .brief h1{
        font-size: 17.5px;
    }
}




@media(max-width:1024px){
    
    .testimonial{
        background-position: 5rem 2rem;
    }
}
